.InputContainer{
    display: flex;
    flex-direction: row;
}
input{
    flex-grow: 1;
}

.UrlTable{
    background-color: rgb(255, 220, 242);
}

.ActivityTable{
    margin-top: 10px;
}

td{
    padding:4px;
    border: 1px solid rgb(128, 128, 128)
}

h2{
    margin:0;
}

.UrlButton{
    width: 40%;
    margin-top:10px;
    background-color: rgb(255, 220, 242);
}