.Main {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 2px solid black;
  margin: 10px;
}

.Schema {
  background-color: cornflowerblue;
  color: black;
}

.Printa {
  background-color: rgb(38, 189, 113);
  color: black;
}

.Boka {
  background-color: rgb(148, 72, 192);
  color: black;
}

.MinIT {
  background-color: rgb(255, 255, 0);
  color: black;
}

.Github {
  text-align: center;
}

